[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/harshitavermagit
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/harshitavermagit
	label-Verified = -1..+1 group user/harshitavermagit
	push = group user/harshitavermagit
	read = group user/harshitavermagit
	rebase = group user/harshitavermagit
	removeReviewer = group user/harshitavermagit
	submit = group user/harshitavermagit
[access "refs/heads/*"]
	create = group user/harshitavermagit
	push = +force group user/harshitavermagit
	pushMerge = group user/harshitavermagit
	read = group user/harshitavermagit
[access "refs/tags/*"]
	push = group user/harshitavermagit
	push = +force group user/harshitavermagit
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	ref = refs/heads/main
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
